<div class="top-page">
  <h1>口コミから選ぶ<br>ゼミ＆研究室</h1>
  <p class="description">実際に所属していた学生の<br>口コミを見ることができます。</p>
  <p class="sampledata">大阪大学工学部電子情報工学科舟木研究室の口コミが4件と<br>早稲田大学理工学部機械工学科橘研究室の口コミが2件<br>サンプルデータとして入っているので、<br>検索してみてください。</p><br>
  <%= render "shared/search_form" %>
</div>

