<h1 class="title mb-5">検索結果</h1>

<%= render @posts %>

<div class="col-12 mt-5">
  <%= paginate @posts %>
</div>

<%= link_to "検索画面に戻る", root_path, class: "btn btn-info btn-lg btn-block mt-3 mb-5" %>
