// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-page h1{
  text-align: center;
  color: white;
  padding-top: 50px;
  text-shadow: 3px 3px 3px #382d2d;
  font-weight: bold;
}

.top-page p{
  text-align: center;
  margin-top: 30px;
  color: white;
}

.top-page p.description{
  font-size: 20px;
  text-shadow: 1px 1px 12px black;
}

.search-form{
  margin-top: 70px;
}

p.sampledata{
  text-shadow: 1px 1px 4px #080808;
}
