<p>ゼミラボナビです。</p>

<p>パスワード変更申請がされました。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしパスワード変更申請をしてないのであれば、このメールは無視してください。</p>
<p>上記のリンクをクリックして新しいパスワードを入力しない限りパスワードは変わりません。</p>
